<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ="
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="style.css" />

    <title>HELLO</title>
  </head>

  <body>
    <header>
      <h1>WELCOME</h1>
    </header>

    <div class="container" id="footer">
      <div class="row d-flex justify-content-between" id="pro">
        <div>
          <button class="btn btn-info fas fa-id-badge">profile</button>
        </div>
        <div>
          <button class="btn btn-danger fas fa-users-cog">setting</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-3 col-md-3" id="one">l</div>
        <div class="col-lg-3 col-sm-3 col-md-3" id="two">u</div>
        <div class="col-lg-3 col-sm-3 col-md-3" id="three">c</div>
        <div class="col-lg-3 col-sm-3 col-md-3" id="four">k</div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-3 col-md-3" id="five">s</div>
        <div class="col-lg-3 col-sm-3 col-md-3" id="six">h</div>
        <div class="col-lg-3 col-sm-3 col-md-3" id="seven">m</div>
        <div class="col-lg-3 col-sm-3 col-md-3" id="eight">i</div>
      </div>
    </div>
    <div class="container" id="foot">
      <div class="container">
        <div class="row center2">
          <div>
            <button type="button" class="btn btn-outline-success">START</button>
          </div>
        </div>
      </div>
      <div class="container" id="footer">
        <div class="row d-flex p-2 justify-content-around">
          <div id="hell">
            <button class="btn btn-success">CREDIT</button>
          </div>
          <div id="cent">
            <button class="btn btn-primary fas fa-shopping-bag">SHOP</button>
          </div>
          <div>
            <button class="btn btn-info" id="lef">SAVE GAME</button>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row center">
          <div class="">
            <button class="btn btn-danger">INFO</button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <footer class="panel">
      <!-- <div class="container">
        <div> -->
          <h1>Please visit us</h1>
        <!-- </div>
      </div> -->
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
